{% extends 'base.html' %}
{% block content %}
    <div class="addform">
        <h3>Ingresar Vehiculo</h3>
        <form method="post">
            {% csrf_token %}
            <div class="mt-3 form-group">
                <label>Marca</label>
                <br>
                {{ form.marca }}
            </div>
            <div class="mt-3 form-group">
                <label>Modelo</label>
                <br>
                {{ form.modelo }}
            </div>
            <div class="mt-3 form-group">
                <label>Serial Carrocería:</label>
                <br>
                {{ form.serial_carroceria }}
            </div>
            <div class="mt-3 form-group">
                <label>Serial Motor:</label>
                <br>
                {{ form.serial_motor }}
            </div>
            <div class="mt-3 form-group">
                <label>Categoria:</label>
                <br>
                {{ form.categoria }}
            </div>
            <div class="mt-3 form-group">
                <label>Precio:</label>
                <br>
                {{ form.precio }}
            </div>
            <input type="submit" class="btn btn-primary">Enviar</input>
        </form>
    </div>
{% endblock %}