<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehículos App</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
</head>
<body>
    
    {% block nav %}
        {% include 'menu.html' %}
    {% endblock nav %}

    {% block content %}
    {% endblock content %}

    {% block footer %}
    {% endblock footer %}

</body>
</html>