{% extends 'base.html' %}
{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="{% url 'index' %}" class="navbar-brand">Vehiculos</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="{% url 'index' %}" class="nav-link active" aria-current="page">Inicio</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'addvehiculo' %}" class="nav-link">Agregar</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'listar' %}" class="nav-link">Listar</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}                
                <li class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link">Salir</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Hola {{user.username}}</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{% url 'login' %}" class="nav-link">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock %}