{% include 'menu.html' %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="container py-5">
        <h1>Registro</h1>
        <form method="post">
            {% csrf_token %}
            {{ register_form|crispy }}
            <button class="btn btn-primary" type="submit">Registrar</button>
        </form>
        <p class="text-center">
            Si ya tienes una cuenta en el sistema, inicia tu sesión en
            <a href="{% url 'login' %}">login</a>
        </p>
    </div>
{% endblock %}